.leftArrow {
  position: absolute;
  top: 25%;
  left: 14%;
  width: 40px;
  height: 100px;
}
.fondoAboutTop {
  background-image: url('/about/fondoAboutTop.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: calc(100vh - 56px);
}

.description {
  max-width: 47.625rem;
}

/* @media (max-width: 1300px) {
  .leftArrow {
    transform: scale(0.5);
    top: -56px;
    left: 25px;
  }
} */

@media (max-width: 1200px) {
  .fondoAboutTop {
    background-size: cover;
  }
}

@media (max-width: 950px) {
  .leftArrow {
    transform: scale(0.6);
    top: 5%;
    left: 0%;
  }
}
